In [1]:
import pandas as pd
import pickle
import numpy as np
from scipy.stats import norm


# here we set up all columns
pd.set_option('max_columns', 64)
pd.set_option('max_rows',64)

In [2]:
cust_sev.shape

NameError: name 'cust_sev' is not defined

In [ ]:
cust_sev['cancel_date'].isna().sum()

In [ ]:
cust_sev.columns

# customer_service_reps

In [3]:
datafile = open('customer_service_reps', 'rb')

cust_sev = pickle.load(datafile)

datafile.close()

In [ ]:
cust_sev.columns

In [ ]:
cust_sev.shape

In [ ]:
# There are 1369360 users in total in the customer_service_reps data
cust_sev['subid'].nunique()

In [ ]:
cust_sev['billing_channel'].unique()

## OTT Channel

There are three billing channels \
For <b>OTT channel</b>, there are only 2 trial days, <b>14 and 0</b> which we can use for <b>AB_Testing</b>

In [4]:
cs_ott = cust_sev[ cust_sev['billing_channel'] == 'OTT'].reset_index(drop=True)

In [5]:
cs_ott['num_trial_days'].unique()

array([14,  0])

### Preprocessing the data

In [6]:
cs_ott['renew'].unique()
# as you may see here, there are nan values that we need to fill in by ourselves

array([False, True, nan], dtype=object)

In [7]:
cs_ott['renew'].value_counts()

False    387666
True     218581
Name: renew, dtype: int64

In [8]:
cs_ott.index

RangeIndex(start=0, stop=1848663, step=1)

In [9]:
cs_ott['last_payment'].dtype

dtype('<M8[ns]')

In [10]:
cs_ott.tail(50)

,customer_service_rep_id,subid,current_sub_TF,cancel_date,account_creation_date,num_trial_days,trial_completed_TF,billing_channel,revenue_net_1month,payment_period,last_payment,next_payment,renew
1848613,34246054,24911314,False,NaT,2019-06-30 00:02:00,14,True,OTT,4.5875,0,2019-06-30 00:02:00,2019-07-14 10:43:57,True
1848614,34246054,24911314,False,NaT,2019-06-30 00:02:00,14,True,OTT,4.5875,1,2019-07-14 10:43:57,NaT,False
1848615,31230756,27609410,True,NaT,2019-06-30 00:01:58,14,True,OTT,5.8353,0,2019-06-30 00:01:58,2019-07-14 18:43:52,NaN
1848616,31230756,27609410,True,NaT,2019-06-30 00:01:58,14,True,OTT,5.8353,1,2019-07-14 18:43:52,2020-03-13 19:27:38,NaN
1848617,31230756,27609410,True,NaT,2019-06-30 00:01:58,14,True,OTT,5.8353,2,2020-03-13 19:27:38,NaT,NaN
1848618,36080216,27196054,True,NaT,2019-06-30 00:01:56,14,True,OTT,4.5875,0,2019-06-30 00:01:56,2019-07-14 14:34:33,True
1848619,36080216,27196054,True,NaT,2019-06-30 00:01:56,14,True,OTT,4.5875,1,2019-07-14 14:34:33,2019-11-11 13:36:12,NaN
1848620,36080216,27196054,True,NaT,2019-06-30 00:01:56,14,True,OTT,4.5875,2,2019-11-11 13:36:12,2020-03-13 14:01:42,NaN
1848621,36080216,27196054,True,NaT,2019-06-30 00:01:56,14,True,OTT,4.5875,3,2020-03-13 14:01:42,NaT,False
1848622,34685812,23179152,False,2019-07-10 21:09:46,2019-06-30 00:01:53,14,False,OTT,0.0000,0,2019-06-30 01:05:31,NaT,NaN
1848623,30967722,26531005,True,NaT,2019-06-30 00:01:45,14,True,OTT,3.4498,0,2019-06-30 01:05:37,2019-07-14 11:06:54,True
1848624,30967722,26531005,True,NaT,2019-06-30 00:01:45,14,True,OTT,3.4498,1,2019-07-14 11:06:54,2019-11-11 11:05:20,True
1848625,30967722,26531005,True,NaT,2019-06-30 00:01:45,14,True,OTT,3.4498,2,2019-11-11 11:05:20,2020-03-13 11:05:22,True
1848626,30967722,26531005,True,NaT,2019-06-30 00:01:45,14,True,OTT,3.4498,3,2020-03-13 11:05:22,NaT,False
1848627,32101596,27140449,True,NaT,2019-06-30 00:01:43,14,True,OTT,5.6518,0,2019-06-30 01:05:31,2019-07-14 11:07:33,NaN
1848628,32101596,27140449,True,NaT,2019-06-30 00:01:43,14,True,OTT,5.6518,1,2019-07-14 11:07:33,2020-03-13 11:05:23,NaN
1848629,32101596,27140449,True,NaT,2019-06-30 00:01:43,14,True,OTT,5.6518,2,2020-03-13 11:05:23,NaT,NaN
1848630,32309638,28298577,False,2019-07-06 15:19:20,2019-06-30 00:01:42,14,False,OTT,0.0000,0,2019-06-30 00:01:42,NaT,NaN
1848631,36362730,21071284,False,2019-07-12 04:04:56,2019-06-30 00:01:35,14,False,OTT,0.0000,0,2019-06-30 00:01:35,NaT,NaN
1848632,35186000,28874372,False,2019-07-03 21:28:30,2019-06-30 00:01:34,14,False,OTT,0.0000,0,2019-06-30 00:01:34,NaT,NaN
1848633,34000200,23633096,False,2019-06-30 10:01:02,2019-06-30 00:01:32,14,False,OTT,0.0000,0,2019-06-30 00:01:32,NaT,NaN
1848634,38784019,26864737,False,2019-07-16 19:21:55,2019-06-30 00:01:32,14,True,OTT,0.0000,0,2019-06-30 00:01:32,2019-07-14 11:05:41,NaN
1848635,38784019,26864737,False,2019-07-16 19:21:55,2019-06-30 00:01:32,14,True,OTT,0.0000,1,2019-07-14 11:05:41,NaT,NaN
1848636,38965551,24049361,False,2019-07-11 02:07:15,2019-06-30 00:01:32,14,False,OTT,0.0000,0,2019-06-30 00:01:32,NaT,NaN
1848637,34410719,29969407,False,2019-07-07 14:15:50,2019-06-30 00:01:31,14,False,OTT,0.0000,0,2019-06-30 01:05:36,NaT,False
1848638,31072580,25593373,True,NaT,2019-06-30 00:01:28,14,True,OTT,5.2848,0,2019-06-30 01:05:35,2019-07-14 10:06:07,NaN
1848639,31072580,25593373,True,NaT,2019-06-30 00:01:28,14,True,OTT,5.2848,1,2019-07-14 10:06:07,2020-01-11 10:05:25,NaN
1848640,31072580,25593373,True,NaT,2019-06-30 00:01:28,14,True,OTT,5.2848,2,2020-01-11 10:05:25,NaT,NaN
1848641,39575996,21199804,False,2019-06-30 16:28:31,2019-06-30 00:01:28,14,False,OTT,0.0000,0,2019-06-30 01:05:35,NaT,False
1848642,38865556,27585257,False,NaT,2019-06-30 00:01:25,14,True,OTT,4.9178,0,2019-06-30 00:01:25,2019-07-14 14:33:09,True
1848643,38865556,27585257,False,NaT,2019-06-30 00:01:25,14,True,OTT,4.9178,1,2019-07-14 14:33:09,NaT,False
1848644,34437033,22486506,False,2019-06-30 16:33:46,2019-06-30 00:01:25,14,False,OTT,0.0000,0,2019-06-30 00:01:25,NaT,False
1848645,30967722,24792193,True,NaT,2019-06-30 00:01:11,14,True,OTT,4.7343,0,2019-06-30 00:01:11,2019-07-14 18:43:52,True
1848646,30967722,24792193,True,NaT,2019-06-30 00:01:11,14,True,OTT,4.7343,1,2019-07-14 18:43:52,2019-11-11 19:27:12,NaN
1848647,30967722,24792193,True,NaT,2019-06-30 00:01:11,14,True,OTT,4.7343,2,2019-11-11 19:27:12,2020-03-13 19:27:38,NaN
1848648,30967722,24792193,True,NaT,2019-06-30 00:01:11,14,True,OTT,4.7343,3,2020-03-13 19:27:38,NaT,False
1848649,34428685,22348406,False,2019-07-07 14:01:09,2019-06-30 00:01:08,14,False,OTT,0.0000,0,2019-06-30 00:01:08,NaT,NaN
1848650,30177012,28661481,False,2019-07-09 15:32:06,2019-06-30 00:00:59,14,False,OTT,0.0000,0,2019-06-30 00:00:59,NaT,NaN
1848651,30947283,26986758,False,2019-07-12 23:23:24,2019-06-30 00:00:51,14,False,OTT,0.0000,0,2019-06-30 01:05:29,NaT,False
1848652,39561825,22320767,False,2019-11-27 09:30:04,2019-06-30 00:00:34,14,True,OTT,4.5875,0,2019-06-30 00:00:34,2019-07-14 10:43:57,True
1848653,39561825,22320767,False,2019-11-27 09:30:04,2019-06-30 00:00:34,14,True,OTT,4.5875,1,2019-07-14 10:43:57,NaT,False
1848654,38865556,23575229,False,2019-06-30 00:51:54,2019-06-30 00:00:19,14,False,OTT,0.0000,0,2019-06-30 00:05:53,NaT,False
1848655,38960743,27633581,False,2019-07-06 13:25:38,2019-06-30 00:00:14,14,False,OTT,0.0000,0,2019-06-30 00:00:14,NaT,NaN
1848656,31803812,21965147,False,2019-07-04 15:37:24,2019-06-30 00:00:13,14,False,OTT,0.0000,0,2019-06-30 00:00:13,NaT,NaN
1848657,33218156,21781165,True,NaT,2019-06-30 00:00:06,14,True,OTT,3.8902,0,2019-06-30 00:00:06,2019-07-14 11:05:50,NaN
1848658,33218156,21781165,True,NaT,2019-06-30 00:00:06,14,True,OTT,3.8902,1,2019-07-14 11:05:50,NaT,NaN
1848659,34478389,27625059,False,2019-07-01 10:27:01,2019-06-30 00:00:06,14,False,OTT,0.0000,0,2019-06-30 00:00:06,NaT,NaN
1848660,38647874,27845350,False,NaT,2019-06-30 00:00:04,14,True,OTT,3.5232,0,2019-06-30 00:00:04,2019-07-14 11:07:06,NaN
1848661,38647874,27845350,False,NaT,2019-06-30 00:00:04,14,True,OTT,3.5232,1,2019-07-14 11:07:06,2019-09-11 11:07:12,NaN
1848662,38647874,27845350,False,NaT,2019-06-30 00:00:04,14,True,OTT,3.5232,2,2019-09-11 11:07:12,NaT,NaN

In [11]:
def renew_filling(period, nxt):
    if period == 0:
        if str( nxt ) == 'NaT':
            return(False)
        else:
            return(True)

In [12]:
# we apply the function calc_win_perc to baseball_df, where row is the iterator
# here the run_diffs_apply we created is pandas series
run_diffs_apply = baseball_df.apply(
lambda row: calc_win_perc(row['W'], row['G']),
axis = 1
)
baseball_df["WP_3"] = run_diffs_apply

NameError: name 'baseball_df' is not defined

In [13]:
def calc_win_perc(wins, games_played):
    
    win_perc = wins / games_played
    
    return(np.round(win_perc,2))

In [14]:
cs_ott['renew'] = cs_ott.apply(lambda row: renew_filling( row['payment_period'], row['next_payment'] ), axis = 1)

In [15]:
cs_ott.head(20)

,customer_service_rep_id,subid,current_sub_TF,cancel_date,account_creation_date,num_trial_days,trial_completed_TF,billing_channel,revenue_net_1month,payment_period,last_payment,next_payment,renew
0,33513851,28948735,False,2020-04-06 19:21:05,2020-03-27 23:59:39,14,False,OTT,0.0000,0,2020-03-27 23:59:39,NaT,False
1,30034436,21697364,False,2020-04-08 13:16:39,2020-03-27 23:59:06,14,False,OTT,0.0000,0,2020-03-28 00:05:20,NaT,False
2,31856201,27800927,True,NaT,2020-03-27 23:59:04,14,True,OTT,4.5875,0,2020-03-28 00:05:20,2020-04-11 11:05:24,True
3,31856201,27800927,True,NaT,2020-03-27 23:59:04,14,True,OTT,4.5875,1,2020-04-11 11:05:24,NaT,None
4,34244883,26594255,False,2020-04-02 23:06:20,2020-03-27 23:59:00,14,False,OTT,0.0000,0,2020-03-28 08:35:56,NaT,False
5,34138852,20407871,False,2020-04-01 05:42:28,2020-03-27 23:58:49,14,False,OTT,0.0000,0,2020-03-27 23:58:49,NaT,False
6,34428685,28893238,True,NaT,2020-03-27 23:58:43,14,True,OTT,5.6885,0,2020-03-28 07:10:03,2020-04-11 14:22:46,True
7,34428685,28893238,True,NaT,2020-03-27 23:58:43,14,True,OTT,5.6885,1,2020-04-11 14:22:46,NaT,None
8,30133343,29755063,False,2020-03-28 00:04:30,2020-03-27 23:58:43,14,False,OTT,0.0000,0,2020-03-28 07:10:03,NaT,False
9,36265602,25208989,False,2020-04-11 01:42:12,2020-03-27 23:58:34,14,False,OTT,0.0000,0,2020-03-28 07:10:03,NaT,False
10,36323902,20277508,True,NaT,2020-03-27 23:58:18,14,True,OTT,3.7434,0,2020-03-28 07:10:03,2020-04-11 14:22:46,True
11,36323902,20277508,True,NaT,2020-03-27 23:58:18,14,True,OTT,3.7434,1,2020-04-11 14:22:46,NaT,None
12,31808851,22127034,True,NaT,2020-03-27 23:58:08,14,True,OTT,5.2848,0,2020-03-28 00:05:20,2020-04-11 11:05:23,True
13,31808851,22127034,True,NaT,2020-03-27 23:58:08,14,True,OTT,5.2848,1,2020-04-11 11:05:23,NaT,None
14,39331506,27089117,True,NaT,2020-03-27 23:57:48,14,True,OTT,3.6700,0,2020-03-27 23:57:48,2020-04-19 14:28:42,True
15,39331506,27089117,True,NaT,2020-03-27 23:57:48,14,True,OTT,3.6700,1,2020-04-19 14:28:42,NaT,None
16,30950434,21101409,False,2020-03-31 01:30:16,2020-03-27 23:57:11,14,False,OTT,0.0000,0,2020-03-28 07:10:03,NaT,False
17,35141703,23241382,False,2020-03-31 02:11:37,2020-03-27 23:56:57,14,False,OTT,0.0000,0,2020-03-28 07:10:03,NaT,False
18,31714601,21982423,False,2020-03-28 00:15:03,2020-03-27 23:56:45,14,False,OTT,0.0000,0,2020-03-28 07:10:03,NaT,False
19,32457728,23440297,False,NaT,2020-03-27 23:56:32,14,True,OTT,0.0000,0,2020-03-28 07:10:03,NaT,False

In [16]:
cs_ott_14 = cs_ott[np.logical_and( cs_ott['num_trial_days'] == 14 , cs_ott['payment_period'] == 0 )].reset_index(drop=True)

In [17]:
cs_ott_0 = cs_ott[np.logical_and( cs_ott['num_trial_days'] == 0 , cs_ott['payment_period'] == 0 )].reset_index(drop=True)

In [18]:
convt_cs_ott_14 = cs_ott_14['renew'].sum() / cs_ott_14['renew'].count()
convt_cs_ott_14

0.40613574657624213

In [19]:
cs_ott_14['renew'].count()

1202918

In [20]:
convt_cs_ott_0 = cs_ott_0['renew'].sum() / cs_ott_0['renew'].count()
convt_cs_ott_0

0.7578372159907967

In [21]:
alpha = 0.1

z_stats = (convt_cs_ott_14-convt_cs_ott_0)/np.sqrt(convt_cs_ott_0*(1-convt_cs_ott_0)/ cs_ott_14['renew'].count() )
z_alpha = norm.ppf(1-alpha/2)

if z_stats<z_alpha:
    print("Accept Null Hypothesis")
else:
    print("Reject Null Hypothesis")

Accept Null Hypothesis

In [22]:
z_stats

-900.4311892645993

In [23]:
z_alpha

1.6448536269514722

### Google

In [ ]:
cs_o_7 = cust_sev[ np.logical_and( cust_sev['billing_channel'] == 'OTT', cust_sev['num_trial_days'] == 14 ) ]

In [ ]:
cs_o_7.head(20)

In [ ]:
cust_sev[cust_sev['subid']==27800927][['subid','num_trial_days','payment_period','billing_channel','revenue_net_1month','last_payment', 'next_payment', 'renew']]

In [ ]:
cust_sev[cust_sev['subid']==25914865][['subid','num_trial_days','payment_period','billing_channel','revenue_net_1month','last_payment', 'next_payment', 'renew']]

In [ ]:
subscribers[subscribers['subid'] == 25914865]

In [ ]:
cust_sev.reset_index().head(10)

In [ ]:
datafile = open('engagement', 'rb')

engagement = pickle.load(datafile)

datafile.close()

In [ ]:
eng_1 = engagement[engagement['date'] == '2019-07-01']

# descriptive analysis
in engagement_1 file, there are 4227 unique users

In [ ]:
eng_1.sort_values(['subid','date'], ascending = True)['subid'].nunique()

In [ ]:
eng_1['subid'].nunique()

In [ ]:
list(engagement['payment_period'].unique())

In [ ]:
engagement.reset_index().head(5)

In [ ]:
datafile = open('subscribers', 'rb')

subscribers = pickle.load(datafile)

datafile.close()

In [ ]:
subscribers.shape

In [ ]:
subscribers.columns

In [ ]:
subscribers[['country','plan_type']]

In [ ]:
subscribers['plan_type'].unique()

# descriptive analysis
in //subscriber// there is 227628 users

In [ ]:
subscribers['subid'].nunique()

In [ ]:
subscribers.reset_index()

In [ ]:
cust_sev['subid'].nunique()

In [ ]:
cust_sev.columns = ['customer_service_rep_id', 'user_id', 'current_sub_TF', 'cancel_date',
       'account_creation_date', 'num_trial_days', 'trial_completed_TF',
       'billing_channel', 'revenue_net_1month', 'payment_period',
       'last_payment', 'next_payment', 'renew']

In [ ]:
combined = pd.merge(subscribers, cust_sev, left_on = 'subid', right_on = 'user_id', how = 'left')

In [ ]:
combined['']

In [ ]:
cust_sev[cust_sev['subid'] == 21724479]